.arrange {
    display: flex;
    justify-content: space-between;
    padding: 0px 250px;
}
.header1 {
    background-color: #dbe3e3;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

#help {
    color: rgba(128, 128, 128, 1);
}

.logo {
    opacity: .8;
}

ideo {
    display: flex;
    justify-content: space-around;
}

.video1 {
    width: 60%;
    margin-left: auto;
}

.text3 {
    width: 40%;
    margin-right: auto;
}
.header22 a{
    text-indent: 20px;
    text-decoration: none;
    color: rgba(128, 128, 128, 1);
    font-weight: bold;
}

.btn {
    background-color: rgb(243, 130, 2);
    color: white;
    font-size: 15px;
    width: 120px;
    height: 30px;
    border: none;
    font-weight: bold;
    margin-top: -6px;
    border-radius: 5px;
}

.formal {
    display: flex;
    /* justify-content: space-between; */
    padding-top: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    background-color: #dbe3e3;
}

.form {
    display: flex;
    flex-direction: column;
}

.form1 input, textarea {
    /* width: 50%; */
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgba(128, 128, 128, 1);
}
.text{
    width: 50%;
}
.text2 {
    width: 77%;
}

.btn3 {
    width: inherit;
    margin: 10px;
}

.text h1 {
    font-size: 60px;
    opacity: 0.8;
}
.text h2 {
    margin-top: -20px;
    font-size: 28px;
    opacity: 0.7;
}

.text p {
    font-size: 16px;
}
.btn2 {
    margin-top: 2px;
}

.blueline {
    display: flex;
    height: 130px;
    /* justify-content: space-around; */
    align-items: center;
    background-color: rgb(1, 162, 232);
    margin-top: 5px;
}

.lines {
    color: white;
    width: 68%;
    margin-right: auto;
}

.lines h2 {
    margin-bottom: -15px;
}

.btn4 {
    margin-right: auto ;
    background-color: white;
    color: rgb(39, 180, 240);
    font-weight: bold;
    font-size: large;
    border-radius: 0;
    border: none;
    width: 150px;
    height: 40px;
}

.video {
    background-color: #dbe3e3;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: space-between;
}

/* .video1 img{
    width: 60%;
    margin-left: auto;
} */

.text3 {
    width: 50%;
    padding-left: 0px;
    margin-top: 20px;
    margin-right: auto;
}

.text3 p {
    padding-bottom: 25px;
}
.cards {
    display: grid;
    grid-template-columns: auto auto auto;
}

.card1 {
    width: 80%;
    margin-top: 35px;
}

.text4 {
    margin-top: -11px;
}

.text4 p{
    width: 90%;
}

.clickBtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn6 {
    width: 140px;
    height: 40px;
}

.footer1 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: rgba(128, 128, 128, 0.8);
    margin-top: 45px;
    color: white;
    padding-bottom: 15px;
}

.card2 p {
    margin-top: -15px;
}
.g2 {
    margin-top: -32px;
}

.copy {
    border-bottom: 4px solid black;
    color: #ffffff78;
    background-color: #343232e0;
    justify-content: center;
}











/* .main-container{
    max-width: 1320px;
    margin: 0 auto;
}
.container {
    max-width: 1050px;
    margin: 0 auto;
} */


